@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'fontface.css';

:root {
  --font-iran-yekan: 'IRANYekan';
  --font-vazir: "Vazir";
  --font-vazir-FD: "VazirFD";
  --font-dana: "Dana";
  --font-dana-fanum: "DanaFanum";
  --font-satoshi: "Satoshi";
}

* {
  font-family: var(--font-iran-yekan);
}

body {
  font-family: var(--font-iran-yekan);
}

.register-bg {
  background-image: url('/public/images/registermobileBg.png');
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 32%;
}

@media (max-width: 768px) {
  .register-bg {
    background-image: url('/public/images/register&loginBgMobile.png');
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 32%;
  }
}

/* for disable autofill input background */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-background-clip: inherit;

  transition: background-color 5000000000000s ease-in-out 0s;
  /* box-shadow: inset 0 0 20px 20px #23232329; */
}
